* {
    margin: 0;
}

.arena_box {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url('https://image.noelshack.com/fichiers/2019/43/4/1571903698-anime-street-scenic-buildings-bicycle-cars-road-clouds-anime-6573.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
}

.card_versus {
    display : flex;
    justify-content: center;
    flex-direction: row;
    margin: 2%;
}

.versus_text {
    align-self: center;
    font-size: 3vw;
    margin: 2%;
}

.button_box{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 1%;
}

.bonusButtonLightning {
    border-radius: 50%;
    background-image: url('https://image.noelshack.com/fichiers/2019/43/3/1571840342-emoji-foudre.png');
    background-repeat: no-repeat;     
    background-size: 150%;
    background-position: center;
    width: 50px;
    height: 50px;   
    
}

.bonusButtonBoxingGlove {
    border-radius: 50%;
    background-image: url('https://image.noelshack.com/fichiers/2019/43/3/1571840978-gant-boxe-dessin-anime-icone-vector-illustration-design-24877-18225.jpg');
    background-repeat: no-repeat;     
    background-size: 110%;
    background-position: center;
    width: 50px;
    height: 50px
}
    
.bonusButtonBook {
    border-radius: 50%;
    background-image: url('https://image.noelshack.com/fichiers/2019/43/3/1571841094-livre-logo-png.png');
    background-repeat: no-repeat;     
    background-size: 100%;
    background-position: center;
    width: 50px;
    height: 50px
}

.bonusButtonBook, .bonusButtonBoxingGlove, .bonusButtonLightning {
    margin: 0 12px;
}

.fightButton_box{
    margin-top: 2%;
}

.fightButton{
    width: 20%;
    height: 35px;
    border-radius: 2%;
    background: #f63d05de;
    font-size: 1.2em;
}

