* {
    margin: 0;
}

.arena_box {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
}

.card_versus {
    display : flex;
    justify-content: center;
    flex-direction: row;
    margin: 2%;
}

.versus_text {
    align-self: center;
    font-size: 3vw;
    margin: 2%;
}

.button_box{
    display: flex;
    align-content: center;
    justify-content: center;
    visibility: hidden;
}

.bonusButtonLightning {
    border-radius: 50%;
    background-image: url('https://image.noelshack.com/fichiers/2019/43/3/1571840342-emoji-foudre.png');
    background-repeat: no-repeat;     
    background-size: 150%;
    background-position: center;
    width: 50px;
    height: 50px;   
    
}

.bonusButtonBoxingGlove {
    border-radius: 50%;
    background-image: url('https://image.noelshack.com/fichiers/2019/43/3/1571840978-gant-boxe-dessin-anime-icone-vector-illustration-design-24877-18225.jpg');
    background-repeat: no-repeat;     
    background-size: 110%;
    background-position: center;
    width: 50px;
    height: 50px
}
    
.bonusButtonBook {
    border-radius: 50%;
    background-image: url('https://image.noelshack.com/fichiers/2019/43/3/1571841094-livre-logo-png.png');
    background-repeat: no-repeat;     
    background-size: 100%;
    background-position: center;
    width: 50px;
    height: 50px
}

.bonusButtonBook, .bonusButtonBoxingGlove, .bonusButtonLightning {
    margin: 0 12px;
}

.fightButton_box{
    display: flex;
    justify-content:center;
    align-items: baseline;
}

.fightButton{
    padding: 10px 20px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(194, 20, 20);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 0 30%;
}

.fightButtonoff{
    display: none !important;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content:space-around;
}

.fightButton:hover {background-color: #3e8e41}

.fightButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.returnbutton {
    padding: 10px 20px;
    font-size: 22px;
    background:linear-gradient(90deg, #005c97 0%,#363795 100% );
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.winCounter {
    padding: 10px 20px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: navy;
    background-image: url('https://img.hebus.com/hebus_2005/11/12/preview/051112151134_99.jpg');
    background-size: cover;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px navy;
}

.element {
    width: 168.39px;
    height: 44px;
}

.returnbuttonoff {
    display: none;
}

.mdl-snackbar {
    height: 70px !important;
    font-size: 2rem !important;
}
