.CardChoiceBackground {
    background-image: url('https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/624430/fde107b7a2a7d1d2a5469c3121c28fe1b55aa8ce.jpg');
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;

}
.CardChoiceTitle {
    color: white;
    margin: 0.5rem;
}

.CardChoiceBox {
    
    justify-content: space-evenly;
    
    display: flex;
}
.CardChoiceReadyButton {
    font-size: 1.5em;
    padding: 0.5%;
    background: #f63d05de;
}

.CardChoiceReadyButton a {
    text-decoration: none;
    color: white;
}
.CardChoiceReadyButton {
    padding: 10px 20px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(194, 20, 20);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-bottom: 0.8rem;
  
}

.CardChoiceReadyButton:hover {background-color: #3e8e41}

.CardChoiceReadyButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
