* {
    margin: 0;
    padding: 0;
}


.Cards{
    width:600px;
    height: 900px;
    border: 2px solid black;
    display: flex flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    border: 5px inset navy;
    box-shadow: 0 8px 16px 0;
    background-image: url('https://img.hebus.com/hebus_2005/11/12/preview/051112151134_99.jpg');
    color: navy;
}
.Header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    height: 15%;
} 
.Name {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    width: 75%;
} 
.Power{
    width: 25%;
    background-image: url('https://image.flaticon.com/icons/png/512/94/94085.png');
}
.Middle{
    display: flex;


}
.Attributs{
    display: flex;
    width: 28%;
    justify-content: center;
   
}
.Attributs ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;




}

.Image{
    width: 120%;
}

