.MainBackground{
    background: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.BoxButtonImg {
    display: flex;
    flex-direction: column;

}
.EnterButton{
    font-size: 2.5em;
}
.ImgCaptainAmerica {
    max-width: 25em;
    max-height: 25em;
    padding-top: 10%;
}
.ImgCaptainSuperman{
    max-width: 20em;
    max-height: 20em;
    padding-top: 10%;
}
.BoxImg {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
